.editor {
  outline: none;
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
  max-width: min(80ch, 900px);
}

.editor[contenteditable="true"] {
  margin-top: calc(68px + env(safe-area-inset-top));
  min-height: 100vh;
}

.markdown-delimiter,
.markdown-prefix {
  display: none;
}

.md-line {
  white-space: pre-wrap;
}

.editor[contenteditable="true"] .md-line:first-child {
  font-size: 2.058rem;
  font-weight: 500;
  color: var(--text-strong-color);

  &.empty::after {
    content: "New note";
    color: var(--text-secondary-color);
    cursor: text;
  }
}

.editor ::selection {
  background-color: color-mix(in srgb, var(--main-color) 33%, transparent);
}

.md-checkbox,
.md-list {
  display: flex;
  position: relative;
  align-items: flex-start;
}

.md-checkbox input {
  accent-color: var(--main-color);
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.md-list-marker {
  width: 24px;
  height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  /* margin-right: 0.2rem; */
  position: absolute;
  left: 0;
  top: 0;
}

.md-checkbox .md-list-marker::after {
  content: "";
  position: absolute;
  inset: -8px;
  cursor: pointer;
}

.md-list-bullet::after {
  content: "•";
}

.md-link {
  color: var(--main-color);
  text-decoration: underline;
  text-underline-offset: 2px;
}

.md-list-content {
  flex: 1;
  min-width: 0;
  white-space: pre-wrap;
  outline: none;
  padding-left: 28px;
}