.editor {
  outline: none;
}

.editor-container {
  height: 100%;
  position: relative;
}

.editor[contenteditable="true"] {
  min-height: 100%;
  padding-bottom: var(--keyboard-offset, 0);
}

.markdown-delimiter,
.markdown-prefix {
  display: none;
}

.md-line {
  white-space: pre-wrap;
}

.editor[contenteditable="true"] .md-line:first-child {
  font-size: 2.058rem;
  font-weight: 500;
  color: var(--text-strong-color);

  &.empty::after {
    content: "New note";
    color: var(--text-secondary-color);
    cursor: text;
  }
}

.editor ::selection {
  background-color: color-mix(in srgb, var(--main-color) 33%, transparent);
}

.md-checkbox,
.md-list,
.md-orderedList {
  display: flex;
  position: relative;
  align-items: flex-start;
}

.md-checkbox input {
  accent-color: var(--main-color);
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.md-list-marker {
  width: 24px;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  position: absolute;
  left: 0;
  top: 0;
}

input[type="checkbox"] {
  position: relative;
}

input[type="checkbox"]::before {
  content: "";
  position: absolute;
  inset: -6px;
}

.md-ordered-marker,
.md-list-bullet {
  color: var(--text-secondary-color);
}

.md-ordered-number::before {
  content: attr(data-content);
}

.md-list-bullet::after {
  content: "•";
  font-size: 1.5rem;
  padding-bottom: 0.1rem;
}

.md-list-content {
  flex: 1;
  min-width: 0;
  white-space: pre-wrap;
  outline: none;
  padding-left: 28px;
}

.md-table {
  font-family: "SF Mono", "Menlo", "Monaco", "Consolas", monospace;
  white-space: pre;
  overflow-x: auto;
}

.md-inline-code {
  font-family: "SF Mono", "Menlo", "Monaco", "Consolas", monospace;
  color: var(--main-color);
  background-color: var(--bg-secondary-color);
  /* background-color: var(--element-background-color); */
  padding: 0.1rem 0.3rem;
  border-radius: 4px;
  font-size: 0.85em;
}

.md-link,
.md-link:hover {
  color: var(--main-color);
}
