.page {
  position: absolute;
  width: 100%;
  height: 100%;
  /* height: calc(100% + env(safe-area-inset-top)); */
  padding-top: calc(44px + 16px + env(safe-area-inset-top));
  overscroll-behavior-y: contain;
  overflow-y: auto;
}

.page-content {
  height: 100%;
  padding: 16px;
}
