*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

button,
button *,
a,
a *,
header,
header * {
  /* Prevent selection and touch callouts to mimic native apps */
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

html {
  /* Take up the full screen in PWA mode */
  min-height: calc(100% + env(safe-area-inset-top));
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  /* Prevent automatic safari scrolling */
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
  touch-action: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Used to add overscroll effect on iOS */
.overscroll::after {
  position: absolute;
  bottom: -1px;
  width: 1px;
  height: 1px;
  content: "";
}
