html {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  font-size: 18px;

  color: var(--text-color);
  background-color: var(--bg-color);
  caret-color: var(--main-color);
}

.monospace {
  font-family:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

h1 {
  font-size: 2.058rem;
  font-weight: 500;
  color: var(--text-strong-color);
}

h2 {
  font-size: 1.618rem;
  font-weight: 500;
  color: var(--text-strong-color);
}

h3 {
  font-size: 1.272rem;
  font-weight: 500;
  color: var(--text-strong-color);
}

.page-container {
  margin-top: env(safe-area-inset-top);
}

.page-container.with-header {
  margin-top: calc(68px + env(safe-area-inset-top));
}

.page-title {
  padding-top: 16px;
  padding-left: 16px;
  user-select: none;
  -webkit-user-select: none;
  margin-bottom: 16px;
}

.page-content {
  padding: 16px;
}

a {
  color: var(--text-color);
  text-decoration: underline;
  text-underline-offset: 2px;
  -webkit-tap-highlight-color: transparent;
}

a:hover {
  color: var(--text-color);
}

.inline-icon-button {
  all: unset;
  display: inline-flex;
  vertical-align: middle;
  position: relative;
  top: -1px;
  cursor: pointer;
  color: var(--text-color);
  -webkit-tap-highlight-color: transparent;
}

.inline-icon-button:active {
  /* transform: scale(1.32);
  filter: brightness(5); */
}
