@import "ui/reset.css";
@import "ui/theme.css";
@import "ui/typography.css";

body {
  background-color: var(--bg-color);
}

html[data-reduce-motion] *,
html[data-reduce-motion] *::before,
html[data-reduce-motion] *::after {
  animation-duration: 0.01ms !important;
  animation-iteration-count: 1 !important;
  scroll-behavior: auto !important;
  transition-duration: 0.01ms !important;
}
