:root {
  --bg-color: black;
  --bg-secondary-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 80%);
  --text-strong-color: white;
  --text-secondary-color: hsl(0, 0%, 50%);
  --main-color: #e2b714;
  --green-color: #34c759;
  --danger-color: #ff3b30;

  --element-background-color: #2c2c2e;
  --modal-background-color: #1c1c1e;
  --border-color: rgba(255, 255, 255, 0.1);
}

html {
  color-scheme: dark;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: white;
    --bg-secondary-color: #eeeeef;
    --text-color: hsl(0, 0%, 30%);
    --text-strong-color: black;
    --text-secondary-color: hsl(0, 0%, 50%);
    --main-color: #e2b714;
    --green-color: #34c759;
    --danger-color: #ff3b30;

    --element-background-color: white;
    --modal-background-color: hsl(0, 0%, 95%);
    --border-color: rgba(0, 0, 0, 0.1);
  }

  html {
    color-scheme: light;
  }
}